<?xml version="1.0" encoding="utf-8"?>
<dataOperations xmlns="http://www.easyrest.com/DataOperations">
  <defaultSetting database="EasyRestaurant" />
  <dataCommand name="OperationCookDetail"  commandType="Text">
    <commandText>
      <![CDATA[
      CALL IUD_COOK_DETAIL(@TopParent,@SubParent,@Code,@Name,@Description,@MajorMaterials,@Attributes,@OpType);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationCookComment"  commandType="Text">
    <commandText>
      <![CDATA[
      CALL IUD_COOK_COMMENT(@CookCode,@RestaurantID,@CommentContent,@CommentUserID,@CommentTime,@EvaluationRate,@CommentUseful,@CommentUnuseful,@OpType);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="GetCookComments"  commandType="Text">
    <commandText>
      <![CDATA[
      CALL GET_COOK_COMMENTS(@CookCode);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="GetCooksDetail"  commandType="Text">
    <commandText>
      <![CDATA[
      CALL GET_COOKS_DETAIL(@CookCode);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="GetRawMaterials"  commandType="Text">
    <commandText>
      <![CDATA[
      CALL GET_RAW_MATERIALS(@MaterialCode);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="GetRawMaterialTypes"  commandType="Text">
    <commandText>
      <![CDATA[
      CALL GET_RAW_MATERIALS_TYPES(@TypeCode);
      ]]>
    </commandText>
  </dataCommand>
</dataOperations>