<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerList" value="Configuration\Data\Database.config"/>
    <add key="DataCommandFiles" value="Configuration\Data\DataCommandFiles.config"/>
    <add key="ServerConfigFile" value="DMobile.Server.Configuration.dll"/>
  </appSettings>
</configuration>