<?xml version="1.0" encoding="utf-8"?>
<databases  xmlns="http://www.easyrest.com/DatabaseList">
  <database name="EasyRestaurant" owner="DJ" dbType="MySql">
    <connection>
      <dataProvider value="MySql" />
      <dataServer value="localhost" />
      <dataSource value="EasyRestaurant" />
      <dataUserID value="root" />
      <dataPassword value="root" />
    </connection>
  </database>
  <database name="TEST1" owner="DJ" dbType="sqlserver2008">
    <connection>
      <dataProvider value="SqlServer" />
      <dataServer value="localhost" />
      <dataSource value="EasyRestaurant" />
      <dataUserID value="root" />
      <dataPassword value="root" />
    </connection>
  </database>
  <database name="TEST2" owner="DJ" dbType="Oracle">
    <connection>
      <dataProvider value="Oracle" />
      <dataServer value="localhost" />
      <dataSource value="EasyRestaurant" />
      <dataUserID value="root" />
      <dataPassword value="root" />
    </connection>
  </database>
</databases>