<?xml version="1.0" encoding="utf-8"?>
<dataOperations xmlns="http://www.easyrest.com/DataOperations">
  <defaultSetting database="EasyRestaurant" />
  <dataCommand name="GetAllFriends"  commandType="Text">
    <commandText>
      <![CDATA[
      CALL GET_USER_FRIENDS(@UserID);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationFriend"  commandType="Text">
    <commandText>
      <![CDATA[
      CALL IUD_FRIENDS(@UserID,@FriendId,@FriendStatus,@CommunicationLog,@OpType);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="VagueSearchFriends"  commandType="Text">
    <commandText>
      <![CDATA[
        CALL GET_VAGUESEARCH_USER(@AliasName);
      ]]>
    </commandText>
  </dataCommand>

</dataOperations>