<?xml version="1.0" encoding="utf-8"?>
<dataOperations xmlns="http://www.easyrest.com/DataOperations">
  <defaultSetting database="EasyRestaurant" />
  <dataCommand name="GetRestaurantComments" commandType="Text">
    <commandText>
      <![CDATA[
      CALL GET_RESTAURANT_COMMENTS(@RestaurantID,@FromUserID);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="GetRestaurantCooks" commandType="Text">
    <commandText>
      <![CDATA[
      CALL GET_RESTAURANT_COOKS(@RestaurantID);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationRestaurantBase" commandType="Text">
    <commandText>
      <![CDATA[
      CALL IUD_RESTAURANT_BASE(@RestaurantID,@RestaurantName,@Description,@CityCode,@CountryCode,@Latitude,@Longitude,@OpType);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationRestaurantCook" commandType="Text">
    <commandText>
      <![CDATA[
      CALL IUD_RESTAURANT_BASE(@RestaurantID,@CookCode,@EvaluationRate,@BookedNumber,@ReferPrice,@PriceUpdaterID,@PriceUpdateTime,@OpType);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationRestaurantComment" commandType="Text">
    <commandText>
      <![CDATA[
      CALL IUD_RESTAURANT_BASE(@RestaurantID,@CommentContent,@FromUserID,@CommentTime,@CommentUseful,@CommentUnuseful,@OpType);
      ]]>
    </commandText>
  </dataCommand>
</dataOperations>