<?xml version="1.0" encoding="utf-8"?>
<dataOperations xmlns="http://www.easyrest.com/DataOperations">
  <defaultSetting database="EasyRestaurant" />
  <dataCommand name="GetAdvicesFromRangeDate" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT * FROM ER_ADVICES WHERE ADVICE_DATETIME BETWEEN @From AND @End;
      ]]>
    </commandText>
    <parameters>
      <param name="@RangeDate" dbType="DateTime" direction="Input" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetAllAdvices" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT * FROM ER_ADVICES ORDER BY ADVICE_DATETIME DESC LIMIT 0,5000;
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationAdvice" commandType="Text">
    <commandText>
      <![CDATA[
      CALL IUD_ADVICES_FORUS(@Content,@UserID,@Type,@Time,@OpType);
      ]]>
    </commandText>
  </dataCommand>
</dataOperations>