<?xml version="1.0" encoding="utf-8"?>
<dataOperations xmlns="http://www.easyrest.com/DataOperations">
  <defaultSetting database="EasyRestaurant" />
  <dataCommand name="OperationTeamDetail" commandType="Text">
    <commandText>
      <![CDATA[
      CALL IUD_TEAM_DETAIL(@TeamID,@TeamName,@HolderID,@MealTime,@TeamAffordStyle,@TeamUseRestaurantID,@MaxPeopleNumber,@AliveStatus,@OpType);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="GetTeamsByTeamName" commandType="Text">
    <commandText>
      <![CDATA[
      CALL GET_VAGUESEARCH_TEAM(@TeamName);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="IsTeamsExists" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT CASE EXISTS(SELECT 1 FROM `ER_TEAM_BASE` WHERE TEAM_IDX = @TeamID) WHEN 1 THEN 'TRUE' ELSE 'FALSE' END AS `EXISTS`;
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="GetTeamOperation" commandType="Text">
    <commandText>
      <![CDATA[
      CALL GET_TEAM_OPERATION(@TeamID,@UserID);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationTeamOperation" commandType="Text">
    <commandText>
      <![CDATA[
      CALL IUD_TEAM_OPERATIONS(@TeamID,@OperationType,@UserID,@OperationTime,@OperationNote,@OpType);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationTeamAdvanced" commandType="Text">
    <commandText>
      <![CDATA[
      CALL IUD_TEAM_ADVANCED(@TeamID,@MaxPeopleNumber,@AliveStatus,@OpType);
      ]]>
    </commandText>
  </dataCommand>
  
</dataOperations>