<?xml version="1.0" encoding="utf-8"?>
<dataOperations xmlns="http://www.easyrest.com/DataOperations">
  <defaultSetting database="EasyRestaurant" />
  <dataCommand name="GetUserByIDAndPassword" commandType="Text">
    <commandText>
      <![CDATA[
      CALL GET_USER(@UserID,@Password);
      ]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="String" direction="Input" />
    </parameters>
  </dataCommand>

  <dataCommand name="CheckSession"  commandType="Text">
    <commandText>
      <![CDATA[
      SELECT CASE EXISTS(SELECT `USER_IDX` FROM `ER_USER_BASE` WHERE USER_IDX = @UserID AND SESSION = @Session) WHEN 1 THEN 'TRUE' ELSE 'FALSE' END AS `PASSED`;
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="IsSessionExists"  commandType="Text">
    <commandText>
      <![CDATA[
      SELECT CASE EXISTS(SELECT `USER_IDX` FROM `ER_USER_BASE` WHERE SESSION = @Session) WHEN 1 THEN 'TRUE' ELSE 'FALSE' END AS `PASSED`;
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="CreateUser"  commandType="Text">
    <commandText>
      <![CDATA[
        CALL IUD_USER_BASE(@UserID,@Password,@Session,@Alias,2);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="DeleteUser"  commandType="Text">
    <commandText>
      <![CDATA[
        CALL IUD_USER_BASE(@UserID,0);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="IsUserExists"  commandType="Text">
    <commandText>
      <![CDATA[
        CALL IS_USER_EXISTS(@UserID);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="GetUsersLocation"  commandType="Text">
    <commandText>
      <![CDATA[
        SELECT
        USER_IDX AS UserID,
        `USER_IPADDRESS` AS IPAddress,
        `USER_PORT` AS Port,
        `USER_NETWORK_TYPE` AS NetWorkType,
        `USER_LATITUDE` AS Latitude,
        `USER_LONGITUDE` AS Longitude,
        `USER_CITY_CODE` AS City,
        `USER_ONLINE_STATUS` AS OnlineStatus
        FROM `ER_USER_LOCATION` WHERE USER_IDX IN (#IDs#);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="GetUserCookPriority"  commandType="Text">
    <commandText>
      <![CDATA[
        SELECT
        USER_IDX,COOK_PRIORITY FROM ER_USER_COOKBOOK WHERE USER_IDX = @UserID;
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationUserLocation"  commandType="Text">
    <commandText>
      <![CDATA[
        CALL IUD_USER_LOCATION(@UserID,@IPAddress,@Port,@NetWorkType,@Latitude,@Longitude,@City,@OnlineStatus,@OpType);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationUserPoints"  commandType="Text">
    <commandText>
      <![CDATA[
        CALL IUD_USER_POINTS(@UserID,@ActivePoints,@OpType);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationUserPriority"  commandType="Text">
    <commandText>
      <![CDATA[
        CALL IUD_USER_COOKBOOK(@UserID,@Priority,@OpType);
      ]]>
    </commandText>
  </dataCommand>

  <dataCommand name="OperationUserConfig"  commandType="Text">
    <commandText>
      <![CDATA[
        CALL IUD_USER_CONFIG_REMOTE(@UserID,@Config,@OpType);
      ]]>
    </commandText>
  </dataCommand>
</dataOperations>